* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  gap: 0.44rem;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
}

header > img {
  width: 24px;
}

header > span {
  font-size: 0.875rem;
  color: #ffffff;
}
