* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  gap: 0.44rem;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 55px;
}

header > img {
  width: 24px;
}

header > span {
  font-size: 0.875rem;
  color: #ffffff;
}

article {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.image-wrapper {
  width: 125px;
  height: 168px;
  overflow: hidden;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

ul {
  display: flex;
  gap: 0.4rem;
  align-items: baseline;
  list-style: none;
}

.marker-icon {
  width: 7px;
}

.country {
  font-size: 0.625rem;
  text-transform: uppercase;
}

a {
  color: #918e9b;
  font-size: 0.625rem;
}

h1 {
  color: #2b283a;
  font-size: 1.56rem;
  padding-bottom: 0.5rem;
}

span {
  color: #2b283a;
  font-size: 0.625rem;
  font-weight: 700;
  padding-bottom: 0.5rem;
}

p {
  color: #2b283a;
  font-size: 0.625rem;
  line-height: 1.5;
  padding-top: 0.3rem;
  width: 350px;
}
